---
import ViewTransitions from 'astro/components/ViewTransitions.astro'
import '@/styles/index.css'
export interface Props {
  title: string
  description: string
  lang?: string | undefined
  image?: string | undefined
  author?: string | undefined
  keywords?: string | undefined
  copyright?: string | undefined
  bodyClass?: string
}
import ContainerDot from '@/components/layout/containerDot.astro'
import ProviderAnimations from '@/components/layout/provider-animations.astro'
import { cn } from '@/lib/utils'
const { author, keywords, title, copyright, description, image, bodyClass } = Astro.props as Props

import BaseHead from '@/components/BaseHead.astro'
import { getCurrentLocale } from '@/utils/localeUtils'
const lang = getCurrentLocale(Astro.url.pathname)
---

<html lang={lang} dir="ltr" class="bg-trancperent scroll-smooth">
  <head>
    <BaseHead title={title} description={description} image={image} />
    <ProviderAnimations />
    <ViewTransitions />
    {copyright ? <meta name="copyright" content={copyright} /> : null}
    {keywords ? <meta name="keywords" content={keywords} /> : null}
    {author ? <meta name="author" content={author} /> : null}
  </head>
  <body
    class={cn(
      "flex flex-col bg-background text-foreground page antialiased min-h-screen",
      bodyClass,
    )}
  >
    <ContainerDot />
    <slot />
  </body>
</html>
