---
import BaseHead from "@/components/BaseHead.astro";
import Container from '@/components/container.astro';
import Navbar from "@/components/Navbar.astro";
import { useTranslations, type UiType } from "@/i18n/utils";
const { title, description, lang } =
  Astro.props;

const t = useTranslations(lang as UiType);

---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead lang={lang} title={title} description={description} />
  </head>
  <body class="bg-background text-foreground">
    <Navbar title={t("site.title")} lang={lang} />
		<Container>
    		<main>
				<slot />
			</main>
		</Container>
  </body>
</html>
