---
import TailwindIndicator from '@/components/layout/tailwind-indicator.astro'
import { cn } from '@/lib/utils'
import BaseLayout from './BaseLayout.astro'
type Props = {
  title: string
  description: string
  image?: string | undefined
  lang?: string
  mainClass?: string
  author?: string | undefined
  keywords?: string | undefined
  copyright?: string | undefined
}

import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import Containers from '@/components/layout/containers.astro'
import { getLangFromUrl } from '@/i18n/config'

const lang = getLangFromUrl(Astro.url)
const { author, keywords, title, copyright, description, image, mainClass } = Astro.props as Props
---

<BaseLayout
  title={title}
  author={author}
  keywords={keywords}
  copyright={copyright}
  description={description}
  image={image}
  lang={lang}
>
  <main class={cn(mainClass)}>
    <Containers size="2xl">
      <Header />
      <slot />
      <TailwindIndicator />
      <Footer />
    </Containers>
  </main>
  <style is:global>
    img {
      content-visibility: auto;
    }
  </style>
</BaseLayout>
